<!-- Cette page sera visible par 
    le pilote
    l'admin -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulaire offre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/logo.png">
    <link rel="stylesheet" href="/public/css/navbar.css">
</head>

<body>
    <%- include('../layouts/header.ejs') %>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 illus">
                    <img class="human2" src="/public/img/metier.png" alt="">
                </div>
                <div class="col-lg-6 col-sm-12 registration-form">
                    <form class="needs-validation" method="POST" novalidate>
                        <div class="titre">
                            <h1 style="line-height: 25px;">Mettre à jour <BR></BR> une Fiche Metier</h1>
                        </div>
                        <%if (message) {%>
                            <div class="mt-5 alert alert-<%= message.type %>  alert-dismissible fade show" role="alert">
                                <strong>
                                    <%= message.intro %>
                                </strong><br>
                                <%= message.message %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <%}%>
                                <div class="form-group mb-2">
                                    <label class="mb-0 pl-2 text-muted" for="titre">Métier</label>
                                    <input type="text" class="form-control item mb-0" name="Nom" id="titre"
                                        value="<%= metier.Nom %>" placeholder="Nom du métier" required>
                                </div>
                                <div class="form-group mb-2">
                                    <label class="mb-0 pl-2 text-muted" for="Faculte">Faculté concernée</label>
                                    <select type="text" class="form-control item mb-0" name="Faculte" id="Faculte"
                                        value="<%= metier.Id_faculte %>" placeholder="Faculté concernée" required>
                                        <option></option>
                                        <% facultes.forEach(element=> { %>
                                            <option value="<%=element.Id_faculte%>"
                                                <%=element.Id_faculte==metier.Id_faculte?'selected':''%> >
                                                <%=element.Nom%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="mb-0 pl-2 text-muted" for="description">Description</label>
                                    <textarea class="form-control" name="Description" id="description" rows="5"
                                        placeholder="Description..." required><%= metier.Description %></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block create-company">Valider les
                                        modifications</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include ('../layouts/footer.ejs') %>

            <script src="/public/js/upload.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>